* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#amount{
  font-size: 12px;
  line-height: 32px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #00b5e2;
  font-family: "Fakt-Normal",Helvetica,Arial;
  color: #FFFFFF;
  float: left;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#amount:hover{
  color: black;
}

#shopping{
  width: 121px;
  height: 50px;
  position: fixed;
  z-index: 2;
  background-color: #41464D;
  display: flex;
  align-items: center;
  float: right;
}

#topSection{
  background-color: #111820;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-style: none;
  height: 70px;
  position:  fixed;
  z-index: 100;
  top: 0;
}
#inTopSection{
  width: 85.15%;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  padding: 0px;
  border-style: none;
}

#topLogo{
  float: left;
  height: 70px;
  width: 114px;
  background-image: url("./ViveLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  clear: both;
}

#nav-items{
  width: 1180.33px;
  height: 70px;
  margin-left: 150px;
  align-items: center;
  vertical-align: middle
  margin-right: 0px;
}

.navs{
  color: #CCCCCC;
  font-family: "Fakt-Normal",Helvetica,Arial;
  font-size: 16px;
  float: left;
  /*margin-top: 27px;*/
  margin-right: 27px;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 4px solid transparent;
  padding-top: 5px;
  transition: 0.15s;
}

.navs:hover{
  border-bottom: 4px solid #00c9fb;
}

#vive-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  height: 38px;
  transition: .2s;
  text-align: center;
  text-decoration: none;
  border: 1px solid #00c9fb;
  border-radius: 21px;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  font-family: "Fakt-Normal",Helvetica,Arial;
  background-color: transparent;
  color: #00c9fb;
  padding: 0px 14px;
}

#vive-button:hover{
  color: #111820;
  background-color: #00c9fb;
}

#sign-in{
  color: #FFFFFF;
  /*margin-left: -10px;*/
  font-family: "Fakt-Normal",Helvetica,Arial;
  float: left;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 0px;
  text-decoration: none;
}

#htc-logo{
  float: left;
  height: 70px;
  width: 114px;
  background-image: url("./htc-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#firstSS{
  width = 100%;
  height: 466.66px;
  background-color: green;
  position: relative;
}

/* Slideshow container */
#slideshow-container {
}

.mySlides {
    display: none;
    padding-top: 0px;
    height: 100%;
}

/* Next & previous buttons */
.prev{
  transition: 0.2s;
  position: absolute;
  z-index: 1000000000;
  /*content: '';*/
  user-select: none;
  width: 24px;
  border-bottom: 2px solid #000;
  height: 24px;
  border-left: 2px solid #000;
  /*display: block;*/
  transform: rotate(45deg);
  top: 50%;
  left: 1.5%;
}

.next {
  transition: 0.2s;
  position: absolute;
  z-index: 1000000000;
  /*content: '';*/
  user-select: none;
  width: 24px;
  border-top: 2px solid #000;
  height: 24px;
  border-right: 2px solid #000;
  /*left:0;*/
  /*display: block;*/
  transform: rotate(45deg);
  top: 50%;
  left: 97%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover{
  width: 27px;
  border-bottom: 3px solid #000;
  height: 27px;
  border-left: 3px solid #000;

}

.next:hover {
  width: 27px;
  border-top: 3px solid #000;
  height: 27px;
  border-right: 3px solid #000;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 2.5px;
  background-color: #888C90;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 2;
  position: relative;
  top: -30;
  opacity: 1;
  right: 0;
  left: 0;
  /*display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  content: '';
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  border-radius: 50%;
  background-color: #888c90;*/
}

.active, .dot:hover {
  background-color: #70CDF0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#fourPics{
  width: 100%;
  height: 400;
  background-color: #FFFFFF;
  object-fit: contain;
  position: relative;
}

.picGroup{
  height: 400px;*/
  width: 316px;
  padding: 5px 2.5px 5px 2.5px;
  cursor: pointer;
  position: relative;
}

#vidsub{
  width: 100%;
  height: 552px;
  background-color: pink;
  position: relative;
}

.vidOverlay{
    background: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-family: "Fakt-Blond",Helvetica,Arial;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 27px;
    top: 50%;
    text-align: center;
}

#h1-vid{
  font-size: 24px;
  top: 25%;
  text-align: center;
  right: 0;
  left: 0;
}

#SS2{
  /*width = 100%;
  height: 707.23px;
  background-color: green;
  position: relative;*/
}
